body {
    font-family: Roboto, sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}
header {
    z-index: 1000;
    background-color: #eef;
    border-bottom: 1px solid rgba(0,0,0,.075);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: 4em;
}
main {
    margin: 4em 0 0 0;
    width: calc(100%-1em);
    min-height: 1em;
    padding: 1em;
}
.list-item {
    height: 3em;
    margin-bottom: 0.5em;
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
